[user]
	name = Daniel Weibel
	email = danielmweibel@gmail.com
        # Avoid automatic guessing of user.name and user.email
        # https://git-scm.com/docs/git-config#Documentation/git-config.txt-useruseConfigOnly
        useConfigOnly = true
[core]
	excludesfile = ~/.gitignore_global
        # Convert CRLF to LF on commit, but not the other way around on checkout
        # https://git-scm.com/docs/git-config#Documentation/git-config.txt-coreautocrlf
        autocrlf = input
	editor = vim
[mergetool]
        # Don't keep file with conflict markers in case of merge conflict
        # https://git-scm.com/docs/git-config#Documentation/git-config.txt-mergetoolkeepBackup
        keepBackup = false
[init]
        defaultBranch = main
[pull]
        # Use rebase instead of merge when pulling a branch
        # https://git-scm.com/docs/git-config#Documentation/git-config.txt-pullrebase
	rebase = false
[credential]
	helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
